body,html{
    margin:  0;
    padding: 0;
}

.hdr{
    width: 100%;
    height: 52px;
    background-color: #282828;


}

.tls{
    position: absolute;
    padding: 2px;
    float: left;
    margin-left: 6%;
    margin-top: 0px;
    
    font-family: 'Alfa Slab One', cursive;
    color: #fff;
}

.sys{
    color:aqua;
}

.AtasUL{
    position: inherit;
    width: auto;
    height: 30px;
    float: right;
    margin-right: 20px;
    margin-top: 8px;
    
}

.IniLI{

    display: inline-block;
    padding: 4px 10px;
    
}

.Bagiana  {
    
    color: aqua;
    text-decoration: none;
    font-family: 'open sans', sans-serif;
    font-size: 20px;
}

.Bagiana:hover{
    color: rgb(12, 224, 5);
    transition: 0.5s;
}

.flogout{
    position: absolute;
    float: left;
    margin-left: 22%;
}


/* TOMBOL LOGOUT */
.tombol{
    background-color: #282828; 
    border: none;
    border-radius: 40px 40px 40px 40px;
    color: white;
    margin-top: 1px;
    margin-left: 10px;
    padding: 2px 7px;
    text-align: center;
    
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    
}


.tlstombol{
    text-align: center;
    color: aqua;
    font-family: 'Alfa Slab One', cursive;
    font-size: 26px;
}