/* COMPANIE */
#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 10; /* Full-width */
    font-size: 14px; /* Increase font-size */
    padding: 7px 20px 12px 20px; /* Add some padding */
    border: 2px solid rgb(190, 182, 182); /* Add a grey border */
    margin-bottom: 20px; /* Add some space below the input */
    margin-left: 200px;
    position : relative;
}

#myInput2 {
background-image: url('/css/searchicon.png'); /* Add a search icon to input */
background-position: 10px 12px; /* Position the search icon */
background-repeat: no-repeat; /* Do not repeat the icon image */
width: 10; /* Full-width */
font-size: 14px; /* Increase font-size */
padding: 7px 20px 12px 20px; /* Add some padding */
border: 2px solid rgb(190, 182, 182); /* Add a grey border */
margin-bottom: 20px; /* Add some space below the input */
margin-left: 13px;
}

#myInput3 {
background-image: url('/css/searchicon.png'); /* Add a search icon to input */
background-position: 10px 12px; /* Position the search icon */
background-repeat: no-repeat; /* Do not repeat the icon image */
width: 10; /* Full-width */
font-size: 14px; /* Increase font-size */
padding: 7px 20px 12px 20px; /* Add some padding */
border: 2px solid rgb(190, 182, 182); /* Add a grey border */
margin-bottom: 20px; /* Add some space below the input */
margin-left: 13px;
}

#myInput4 {
background-image: url('/css/searchicon.png'); /* Add a search icon to input */
background-position: 10px 12px; /* Position the search icon */
background-repeat: no-repeat; /* Do not repeat the icon image */
width: 10; /* Full-width */
font-size: 14px; /* Increase font-size */
padding: 7px 20px 12px 20px; /* Add some padding */
border: 2px solid rgb(190, 182, 182); /* Add a grey border */
margin-bottom: 20px; /* Add some space below the input */
margin-left: 13px;
}

#myInput5 {
background-image: url('/css/searchicon.png'); /* Add a search icon to input */
background-position: 10px 12px; /* Position the search icon */
background-repeat: no-repeat; /* Do not repeat the icon image */
width: 33%; /* Full-width */
font-size: 14px; /* Increase font-size */
padding: 7px 20px 12px 20px; /* Add some padding */
border: 2px solid rgb(190, 182, 182); /* Add a grey border */
margin-bottom: 20px; /* Add some space below the input */
margin-left: 200px;
}

#myInput6 {
background-image: url('/css/searchicon.png'); /* Add a search icon to input */
background-position: 10px 12px; /* Position the search icon */
background-repeat: no-repeat; /* Do not repeat the icon image */
width: 33%; /* Full-width */
font-size: 14px; /* Increase font-size */
padding: 7px 20px 12px 20px; /* Add some padding */
border: 2px solid rgb(190, 182, 182); /* Add a grey border */
margin-bottom: 20px; /* Add some space below the input */
margin-left: 13px;
}

/* EMPLOYEE & ITEM*/
#myem {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 9; /* Full-width */
    font-size: 14px; /* Increase font-size */
    padding: 7px 20px 12px 20px; /* Add some padding */
    border: 2px solid rgb(190, 182, 182); /* Add a grey border */
    margin-bottom: 20px; /* Add some space below the input */
    margin-left: 110px;
    position : relative;
}

#myem2 {
background-image: url('/css/searchicon.png'); /* Add a search icon to input */
background-position: 10px 12px; /* Position the search icon */
background-repeat: no-repeat; /* Do not repeat the icon image */
width: 10; /* Full-width */
font-size: 14px; /* Increase font-size */
padding: 7px 20px 12px 20px; /* Add some padding */
border: 2px solid rgb(190, 182, 182); /* Add a grey border */
margin-bottom: 20px; /* Add some space below the input */
margin-left: 13px;
}

#myem3 {
background-image: url('/css/searchicon.png'); /* Add a search icon to input */
background-position: 10px 12px; /* Position the search icon */
background-repeat: no-repeat; /* Do not repeat the icon image */
width: 10; /* Full-width */
font-size: 14px; /* Increase font-size */
padding: 7px 20px 12px 20px; /* Add some padding */
border: 2px solid rgb(190, 182, 182); /* Add a grey border */
margin-bottom: 20px; /* Add some space below the input */
margin-left: 13px;
}

#myem4 {
background-image: url('/css/searchicon.png'); /* Add a search icon to input */
background-position: 10px 12px; /* Position the search icon */
background-repeat: no-repeat; /* Do not repeat the icon image */
width: 10; /* Full-width */
font-size: 14px; /* Increase font-size */
padding: 7px 20px 12px 20px; /* Add some padding */
border: 2px solid rgb(190, 182, 182); /* Add a grey border */
margin-bottom: 20px; /* Add some space below the input */
margin-left: 13px;
}

#myem5 {
background-image: url('/css/searchicon.png'); /* Add a search icon to input */
background-position: 10px 12px; /* Position the search icon */
background-repeat: no-repeat; /* Do not repeat the icon image */
width: 28%; /* Full-width */
font-size: 14px; /* Increase font-size */
padding: 7px 20px 12px 20px; /* Add some padding */
border: 2px solid rgb(190, 182, 182); /* Add a grey border */
margin-bottom: 20px; /* Add some space below the input */
margin-left: 200px;
}

#myem6 {
background-image: url('/css/searchicon.png'); /* Add a search icon to input */
background-position: 10px 12px; /* Position the search icon */
background-repeat: no-repeat; /* Do not repeat the icon image */
width: 28%; /* Full-width */
font-size: 14px; /* Increase font-size */
padding: 7px 20px 12px 20px; /* Add some padding */
border: 2px solid rgb(190, 182, 182); /* Add a grey border */
margin-bottom: 20px; /* Add some space below the input */
margin-left: 13px;
}
  
/* Sell */
#mysell {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 9; /* Full-width */
    font-size: 14px; /* Increase font-size */
    padding: 7px 20px 12px 20px; /* Add some padding */
    border: 2px solid rgb(190, 182, 182); /* Add a grey border */
    margin-bottom: 20px; /* Add some space below the input */
    margin-left: 110px;
    position : relative;
}

#mysell2 {
background-image: url('/css/searchicon.png'); /* Add a search icon to input */
background-position: 10px 12px; /* Position the search icon */
background-repeat: no-repeat; /* Do not repeat the icon image */
width: 10; /* Full-width */
font-size: 14px; /* Increase font-size */
padding: 7px 20px 12px 20px; /* Add some padding */
border: 2px solid rgb(190, 182, 182); /* Add a grey border */
margin-bottom: 20px; /* Add some space below the input */
margin-left: 13px;
}

#mysell3 {
background-image: url('/css/searchicon.png'); /* Add a search icon to input */
background-position: 10px 12px; /* Position the search icon */
background-repeat: no-repeat; /* Do not repeat the icon image */
width: 10; /* Full-width */
font-size: 14px; /* Increase font-size */
padding: 7px 20px 12px 20px; /* Add some padding */
border: 2px solid rgb(190, 182, 182); /* Add a grey border */
margin-bottom: 20px; /* Add some space below the input */
margin-left: 13px;
}

#mysell4 {
background-image: url('/css/searchicon.png'); /* Add a search icon to input */
background-position: 10px 12px; /* Position the search icon */
background-repeat: no-repeat; /* Do not repeat the icon image */
width: 340px; /* Full-width */
font-size: 14px; /* Increase font-size */
padding: 7px 20px 12px 20px; /* Add some padding */
border: 2px solid rgb(190, 182, 182); /* Add a grey border */
margin-bottom: 20px; /* Add some space below the input */
margin-left: 13px;
}

#mysell5 {
background-image: url('/css/searchicon.png'); /* Add a search icon to input */
background-position: 10px 12px; /* Position the search icon */
background-repeat: no-repeat; /* Do not repeat the icon image */
width: 28%; /* Full-width */
font-size: 14px; /* Increase font-size */
padding: 7px 20px 12px 20px; /* Add some padding */
border: 2px solid rgb(190, 182, 182); /* Add a grey border */
margin-bottom: 20px; /* Add some space below the input */
margin-left: 200px;
}

#mysell6 {
background-image: url('/css/searchicon.png'); /* Add a search icon to input */
background-position: 10px 12px; /* Position the search icon */
background-repeat: no-repeat; /* Do not repeat the icon image */
width: 28%; /* Full-width */
font-size: 14px; /* Increase font-size */
padding: 7px 20px 12px 20px; /* Add some padding */
border: 2px solid rgb(190, 182, 182); /* Add a grey border */
margin-bottom: 20px; /* Add some space below the input */
margin-left: 13px;
}
  


/* DETAIL SUMMARY */
#myds {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 10; /* Full-width */
    font-size: 14px; /* Increase font-size */
    padding: 7px 20px 12px 20px; /* Add some padding */
    border: 2px solid rgb(190, 182, 182); /* Add a grey border */
    margin-bottom: 20px; /* Add some space below the input */
    margin-left: 60px;
    position : relative;
}

#myds2 {
background-image: url('/css/searchicon.png'); /* Add a search icon to input */
background-position: 10px 12px; /* Position the search icon */
background-repeat: no-repeat; /* Do not repeat the icon image */
width: 10; /* Full-width */
font-size: 14px; /* Increase font-size */
padding: 7px 20px 12px 20px; /* Add some padding */
border: 2px solid rgb(190, 182, 182); /* Add a grey border */
margin-bottom: 20px; /* Add some space below the input */
margin-left:200px;
}

#myds3 {
background-image: url('/css/searchicon.png'); /* Add a search icon to input */
background-position: 10px 12px; /* Position the search icon */
background-repeat: no-repeat; /* Do not repeat the icon image */
width: 10; /* Full-width */
font-size: 14px; /* Increase font-size */
padding: 7px 20px 12px 20px; /* Add some padding */
border: 2px solid rgb(190, 182, 182); /* Add a grey border */
margin-bottom: 20px; /* Add some space below the input */
margin-left: 215px;
}



/* SUMMARY SEARCH */
#mys3 {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 10; /* Full-width */
    font-size: 14px; /* Increase font-size */
    padding: 7px 20px 12px 20px; /* Add some padding */
    border: 2px solid rgb(190, 182, 182); /* Add a grey border */
    margin-bottom: 20px; /* Add some space below the input */
    margin-left: 430px;
    }
    
    #mys4 {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 10; /* Full-width */
    font-size: 14px; /* Increase font-size */
    padding: 7px 20px 12px 20px; /* Add some padding */
    border: 2px solid rgb(190, 182, 182); /* Add a grey border */
    margin-bottom: 20px; /* Add some space below the input */
    margin-left: 13px;
    }
    
    #mys5 {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 20%; /* Full-width */
    font-size: 14px; /* Increase font-size */
    padding: 7px 20px 12px 20px; /* Add some padding */
    border: 2px solid rgb(190, 182, 182); /* Add a grey border */
    margin-bottom: 20px; /* Add some space below the input */
    margin-left: 375px;
    }
    
    #mys6 {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 20%; /* Full-width */
    font-size: 14px; /* Increase font-size */
    padding: 7px 20px 12px 20px; /* Add some padding */
    border: 2px solid rgb(190, 182, 182); /* Add a grey border */
    margin-bottom: 20px; /* Add some space below the input */
    margin-left: 13px;
    }